div {
	color: white;
	border: 1px solid grey;
	width: 100%;
	justify-content: center;
}

.container {
	border: 1px solid black;
}

.box1 {
	height: 100px;
	width: 100px;
	background: blue;
	vertical-align: top;
	float: right;
}

.box2 {
	height: 100px;
	width: 100px;
	background: red;
	float: right;
	clear: both;
}

.box3 {
	height: 100px;
	width: 100%;
	background: turquoise;
	display: flex;
}

a {
	color: black;
}
